$main-font-size:50px;
@mixin x-rem($property, $value) {
  #{$property}: #{$value *50}px;
  #{$property}: #{$value}rem;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
